.w-richtext:before,
.w-richtext:after {
  display: none !important;
}

.gated--speaker-item figure {
  max-width: 144rem;
  margin-bottom: 24rem;
  border-top-left-radius: 300rem;
  border-top-right-radius: 300rem;
  border-bottom-left-radius: 300rem;
  border-bottom-right-radius: 300rem;
  overflow: hidden;
}

.gated--speaker-item h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16rem;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: -0.04em;
}

.gated--speaker-item p {
  margin-bottom: 0px;
  font-size: 14rem;
  line-height: 150%;
  letter-spacing: 0.01em;
}
