.logo--icon-white {
  opacity: 0;
}

.navbar.is--active .logo--icon-white {
  opacity: 1;
}

.navbar--bg {
  opacity: 0;
}

.navbar--login-new {
  color: inherit;
}

.navbar.is--active .btn--navbar-new {
  color: var(--white);
  border-color: var(--white);
}

.navbar.is--active .navbar--bg {
  opacity: 1;
}

.navbar--dropdown-list-new {
  display: none;
  opacity: 0;
  transform: translateY(20rem);
}

.navbar.is--active {
  color: var(--white);
}

.wg-default.weglot-container--left .country-selector {
  display: none;
}

@media screen and (max-width: 991px) {
  .dropdown-active .btn--navbar-new {
    color: var(--primary-blue);
    border-color: var(--white);
  }
}
