.dropdown-active .navbar--logo-link-new {
  background-image: url("https://uploads-ssl.webflow.com/60a69b2a011f012edbe2cd9d/64db50a704ce1045dd02abd2_Logotype-h-white.svg");
}

.navbar--dropdown-list-new {
  display: none; /* Initially hidden */
  opacity: 0; /* Initially fully transparent */
  transform: translateY(20rem); /* Start 20rem below */
  transition: transform 0.5s, opacity 0.5s; /* Smooth transition for transform and opacity */
}

.wg-default.weglot-container--left .country-selector {
  display: none;
}

@media screen and (max-width: 991px) {
  .dropdown-active .btn--navbar-new {
    color: var(--primary-blue);
    border-color: var(--white);
  }
}
