.dropdown-active .navbar--logo-link-new {
  background-image: url("https://uploads-ssl.webflow.com/60a69b2a011f012edbe2cd9d/64db50a704ce1045dd02abd2_Logotype-h-white.svg");
}

.dropdown-active {
  background-color: var(--primary-blue);
  color: var(--white);
}

.dropdown-active .navbar--login-new {
  color: var(--white);
}

.dropdown-active .btn--navbar-new {
  color: var(--white);
  border-color: var(--white);
}

.wg-default.weglot-container--left .country-selector {
  display: none;
}

@media screen and (max-width: 991px) {
  .dropdown-active .btn--navbar-new {
    color: var(--primary-blue);
    border-color: var(--white);
  }
}
