.main-wrapper {
  opacity: 0;
}

.navbar.is--scrolled {
  background-color: #fff;
}

.is--features-section {
  margin-top: -300rem;
}

@media (max-width: 991px) {
  .is--features-section {
    margin-top: 0rem;
  }
}

.splide__track {
  overflow: visible;
}

.splide__slide {
  align-self: stretch;
}
