.hbspt-form input {
  font-size: 16rem;
  padding: 8rem;
  border-radius: 4rem;
  background-color: white;
  border-color: #8e8e8e;
  border-style: solid;
  border-width: 1px;
  width: 100%;
}

.hbspt-form label {
  font-size: 12rem;
  font-weight: normal;
  color: #8e8e8e;
}

.hbspt-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24rem;
  grid-row-gap: 24rem;
}

.hs-dependent-field {
  grid-column-start: span 2;
}

.hs-dependent-field ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24rem;
  grid-row-gap: 24rem;
  padding-left: 0px;
  padding-top: 24rem;
  margin-bottom: 0rem;
}

.hs-dependent-field ul label {
  display: flex;
  column-gap: 8rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0rem;
}

.hs-dependent-field ul input {
  width: 16rem;
  height: 16rem;
}

.legal-consent-container {
  grid-column-start: span 2;
}

.hs-richtext p {
  margin-bottom: 10rem;
  font-size: 12rem;
  color: black;
}
