.splide__track {
  overflow: visible;
}

.splide__slide {
  align-self: stretch;
}

.home--accordion-trigger.open .icon--15 {
  transform: rotate(180deg);
}

.home--accordion--response {
  height: 0px;
}

.splide__slide.is--home-tag {
  opacity: 0;
}

.splide__slide.is--home-tag.is-active {
  opacity: 1;
}

.tag--parent {
  opacity: 0;
  transition: opacity 1s ease-out, left 1s linear;
}
