.splide__track {
  overflow: visible;
}

.heading--20.is--successstory {
  overflow: hidden; /* Hide the text that overflows */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
  max-width: 60ch; /* Set the maximum width in characters */
}
